# TDLib library path
TDLIB_PATH=

# Proxy pools (newline-separated URLs, alltogether inside a single pair of double quotes)
# e.g. PROXY_POOLS="https://url.one/
# https://url.two/path/to/proxies.txt"
PROXY_POOLS=

# Log file path
LOG_PATH=

# Whether to include DEBUG level logs (use 0 or 1)
VERBOSE=

# Default proxy file
PROXY_FILE=

# Default results file
RESULTS_FILE=

# Default results mode
RESULTS_MODE=

# Default batch size
BATCH_SIZE=
