# TDLib library path
TDLIB_PATH=

# Proxy pools: newline-separated URLs, optionally 
# each URL ending with a # followed by the protocol 
# (if applies to all included proxies), alltogether 
# inside a single pair of double quotes) e.g.
# PROXY_POOLS="https://url.one/
# https://url.two/path/to/proxies.txt
# https://three.com/path/to/socks.txt#socks"
PROXY_POOLS=

# Log file path
LOG_PATH=

# Whether to include DEBUG level logs (use 0 or 1)
VERBOSE=

# Default proxy file
PROXY_FILE=

# Default results file
RESULTS_FILE=

# Default results mode
UPDATE_METHOD=

# Default batch size
BATCH_SIZE=
