# TDLib configuration
LIB_PATH=path/to/libtdjson.so # or libtdjson.dll (on windows)

# Proxy sources (URLs separated by new lines, placed alltogether inside a single pair of double quotes)
PROXY_POOLS="https://some.other.domain/path/to/all_proxies.txt
https://raw.githubusercontent.com/user/repo/master/mtproto.txt"